
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv*/
*.egg-info/
dist/
build/


data/raw/*
!data/raw/.gitkeep
data/robomimic/*
!data/robomimic/.gitkeep

results/plots/*.png
results/models/*.pth
results/logs/*.log
MUJOCO_LOG.TXT
*.pth
*.png

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db


.ipynb_checkpoints/
